<html>
<head>
<title>signup form</title>
<link rel="stylesheet" href="login-page.component.css">
</head>
    <body>
        <div class="sign-up-form">
            <img src="user-icon.png">
            <h1>Sign Up Now</h1>
            <form>
                <input type="email" class="input-box" placeholder="your email">
                <input type="password" class="input-box" placeholder="your password">
                <p><span><input type="checkbox"></span> agree to the Terms & conditions.</p>
                <button type="button" class="signup-btn">sign up</button>
                <hr>
                <p class="or">OR</p>
                <button type="button" class="facebook-btn">login with facebook</button>
                <p>do you have an account ? <a href="#">Register</a></p>

            </form>

        </div>
    </body>

</html>