<div
      class="app-ace-editor"
      #editor
      style="width: 1300px;height: 500px;"
>
</div>


    <button type="button">Run!</button>
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile">
    <label for="Languages">Choose a language:</label>
    <select name="languages" id="languages">
      <option value="C++">C++</option>
      <option value="Java">Java</option>
      <option value="Python">Python</option>
    </select>
        <input type="submit" onclick="langMode(value)" value="Submit">

